@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #003f5c;
  --secondary-color: #d1dbe4;
  --tertiary-color: #879e82;

  --primary-font-color: #000000;
  --secondary-font-color: #ffffff;

  --background-color: var(--secondary-color);

  --gap-xs: 4px;
  --gap-sm: 8px;
  --gap-md: 16px;
  --gap-lg: 24px;
  --gap-xl: 32px;
  --gap-xxl: 40px;

  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 24px;
  --border-radius-xl: 32px;
  --border-radius-xxl: 40px;

  --project-font-family: 'Roboto', sans-serif;
  --project-font-size: 16px;
  --project-header-font-size: 24px;
  --project-description-font-size: 10px;
  --project-line-height: 1.5;
  --project-font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 1920px;
  min-height: 100vh;

  font-family: var(--project-font-family);
  font-size: var(--project-font-size);
  line-height: var(--project-line-height);
  font-weight: var(--project-font-weight);

  background-color: var(--background-color);
  color: var(--primary-font-color);
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}


